<!DOCTYPE html>
<html>
  <head>
    <title>Test1</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="row bg-white">
        <div class="col">
          <label>First name</label>
          <input type="text" id="firstName" class="form-control" placeholder="Firstname" />
        </div>
        <div class="col">
          <label>Last name</label>
          <input type="text" id="lastName" class="form-control" placeholder="Lastname" />
        </div>
        <div class="col">
          <label>Street</label>
          <input type="text" id="street" class="form-control extraWidth" placeholder="Street" />
        </div>
        <div class="col">
          <label>City</label>
          <input type="text" id="city" class="form-control extraWidth" placeholder="City" />
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary" id="btnInsert">Insert</button>
        </div>
      </div>

      <div id="stateElements"></div>
    </div>
  </body>
  <script src="/main.js"></script>
</html>
